
@font-face {
    font-family: 'green_energyregular';
    src: url('green_energy-webfont.woff2') format('woff2'),
         url('green_energy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0030-0039, U+0041-005A, U+0061-007A; 

}


@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');

p {
    font-size: large;
}

body {
    font-family: 'green_energyregular', 'Mukta', sans-serif;
    color: #95D600;
    background-color: black;
    z-index: 3;
}

head {
    background-color: black;
}

a:link {
    color:#95D600;
    background-color: transparent;
    text-decoration: underline;
  }

  a:visited {
    color:#95D600;
    background-color: transparent;
    text-decoration: underline;
  }

.homepage-img {
    width: 100%;
    margin: 0%;
    overflow: hidden;
}

.static {
    position: absolute;
    width: fit-content;
    height: max-content;
    left: 0%;
    z-index: 5;

}


.header {
    font-size: 4.5em;
    letter-spacing: -1px;
    color: black;
    text-shadow: 2px 0 8px #95D600;
}

#hideMeAfter5Seconds {
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
  }

@keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

#myModal {
    border-radius: 0%;
}

.btn {
    background-color: black;
    border-radius: 0%;
    size:absolute;
}

.btn:hover {
    background-color:#95D600;
    border: #95D600;
}

.monster {
    max-height: 3in;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

.footer {
    margin-top: 40px;
    background-color: 374E00;
}